.container {
  position: fixed;
  background: #fff;
  width: 100%;
  max-width: 1400px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px;
  z-index: 1;
}

.inner {
  display: flex;
}

.logo {
  display: flex;
}

.ak {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}

.akText {
  font-size: 20px;
  font-weight: bold;
  transform: rotate(-3deg);
  line-height: 16px;
  margin-top: 10px;
  white-space: nowrap;
}

.underlined {
  position: relative;
}

.ulineMask:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(
    from var(--start),
    white 0 var(--spread),
    transparent var(--spread)
  );
}

.ulineOver {
  display: inline-block;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}
.ulineOver:after {
  content: "";
  position: absolute;
  top: 60%;
  height: 150%;
  aspect-ratio: 2.5 / 1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 6px solid #3a4ed5;
}

.underline-clip:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(130 80% 50%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}
