.container {
  width: 100%;
}

.nav {
  position: fixed;
  width: 100%;
}

.list {
  display: flex;
  padding: 5px;
  font-weight: bold;
  border: 1px solid #000;
}

.navItem {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #000;
}

.navItem:last-child {
  border-right: none;
}

.nav a {
  display: flex;
  justify-content: center;
}

.subNav {
  display: none;
}

.subNav0 {
}

.subNav1 {
}

.subNav2 {
}

.block {
  display: block;
}

.none {
  display: none;
}

/* .subNav3 {
  border: 1px solid blue;
} */
